body
{
    background-color: black;
}

.home
{
    display: flex;
}

#caixa1
{
    background-color: #464343;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    text-align: center;
    display: flex;
    margin-left: 450px;
}

#caixa2
{
    background-color: rgb(0, 0, 0);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 600px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    margin-left: 80px;
    margin-top: 2px;
}

#caixa3
{
    background-color: rgb(0, 0, 0);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 110px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    margin-left: 400px;
    margin-top: 10px;
}

#caixa4
{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgb(104, 0, 0);
    width: 100px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

#caixa5
{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(207, 0, 0);
    width: 600px;
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-left: 400px;
    margin-top: 10px;

}


#Login
{
    border-style: none;
    border-width: 1px;
    border-radius: 100px;
    padding: 5px 20px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
}

#cadastro
{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    
    width: 60px;
    height: 30px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#faq
 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: bold;
    

    width: 100%;
    height: 100%;
    display: block;
    background-color: #464343;
}

#sobre
{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    padding: 5px 20px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    margin-left: 20px;
    width: 60px;
    height: 30px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#inicio
{
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 100px;
    padding: 5px 20px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    margin-left: 145px;
    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
}

#planos
{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    padding: 5px 20px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    
    margin-left: 100px;
    width: 60px;
    height: 30px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#logo
{
    display: flex;
    position: absolute;
}

#logo1
{
    display: flex;
    position: absolute;
    margin-top: 60pt;
    width: 80%;
    height: 100%;
    opacity: 0.3;
    margin-left: 360px;
}

#logo2
{
    position: absolute;
    width: 45%;
    height: 60%;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#texto-logo
{
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 40px;
    margin-top: 13px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#Bprincipal
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 100px;
    padding: 20px 25px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
    top: 65%; 
    left: 45%; 
}

#campeao
{
    width: 600px;
    height: 600px;
    margin-left: 300px;
    opacity: 0.7;
}

#TxtMat1
{
    position: absolute; 
    top: 65%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 40px;
    margin-top: 700px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    opacity: 0.6;
}

#TxtMat2
{
    position: absolute; 
    top: 65%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 40px;
    margin-top: 750px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    opacity: 0.6;
}

#vitoria
{
    position: absolute; 
    top: 71%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 40px;
    margin-top: 750px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 9px rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: Stencil Std, fantasy;
}

#Matricula
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 100px;
    padding: 25px 30px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
    top: 167%; 
    left: 65.5%; 
}

.Tit
{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 50px;
    text-decoration: underline;
    font-weight: 100;
}

.diferenciais::before {
    content: '✓';
    color: rgb(207, 0, 0);
    margin-right: 8px;
    font-weight: bold;
}

.diferenciais
{
        
    margin-left: 50px;
    display: flexbox;
    max-width: 350px;
    font-size: 25px;
}

#chines
{
    width: 500px;
    height: 470px;
    display: flex;
    margin-left: 500px;
    position: absolute;
    top: 1935px;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(207, 0, 0);
    border-style: solid;
}

.caixas1
{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(207, 0, 0);
    width: 350px;
    height: 570px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    gap: 10px; 
    margin-left: 100px;
    margin-top: 8px;
    position: absolute;
    flex-direction: column;

}

.caixas2
{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(207, 0, 0);
    width: 350px;
    height: 570px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    gap: 10px; 
    margin-left: 750px;
    margin-top: 8px;
    position: absolute;
    flex-direction: column;
}

.caixas3
{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(207, 0, 0);
    width: 350px;
    height: 570px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    gap: 10px; 
    margin-left: 1400px;
    margin-top: 8px;
    position: absolute;
    flex-direction: column;
}

#plano-round
{
    width: 260px;
    height: 100px;
    margin-left: 40px;

}

#plano-professional
{
    width: 280px;
    height: 110px;
    margin-left: 37px;
    margin-top: 10px;
}

#plano-nocaute
{
    width: 280px;
    height: 110px;
    margin-left: 38px;
    margin-top: 10px;
}

.diferenciais1::before {
    content: '✓';
    color: rgb(207, 0, 0);
    margin-right: 8px;
    font-weight: bold;
}

.diferenciais1
{
     
    margin-left: 25px;
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
}

.diferenciais2::before {
    content: '✓';
    color: rgb(207, 0, 0);
    margin-right: 8px;
    font-weight: bold;
}

.diferenciais2
{
     
    margin-left: 25px;
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
}
.diferenciais2::before {
    content: '✓';
    color: rgb(207, 0, 0);
    margin-right: 8px;
    font-weight: bold;
}

.diferenciais2
{
     
    margin-left: 25px;
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
}

.diferenciais3::before {
    content: '✓';
    color: rgb(207, 0, 0);
    margin-right: 8px;
    font-weight: bold;
}

.diferenciais3
{
     
    margin-left: 25px;
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
    color: white;
}

.diferenciais4
{
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-weight: 340;
    font-size: 20px;
}

.diferenciais5
{
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-weight: 340;
    font-size: 20px;
}

.diferenciais6
{
    display: flexbox;
    max-width: 350px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: 340;
    font-size: 20px;
}

.Matriculas
{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 70px;
    padding: 20px 15px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
  
    margin-left: 85px;
    margin-top: 490px;
}

.Matriculas1
{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 70px;
    padding: 20px 15px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
  
    margin-left: 85px;
    margin-top: 490px;
}

.Matriculas2
{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 70px;
    padding: 20px 15px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
  
    margin-left: 100px;
    margin-top: 490px;
}

.Matriculas3
{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 70px;
    padding: 20px 15px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    

    display: block;
    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
  
    margin-left: 100px;
    margin-top: 490px;
}

#SP
{
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(207, 0, 0);
}

#Bauru
{
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(207, 0, 0);
}

#PP
{
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(207, 0, 0);
}

#missao
{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
}

#lutadores
{
    opacity: 0.5;
    width: 60%;
    height: 60%;
    margin-left: 360px;
    display: flex;
    position: absolute;
}

#btcentro
{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 70px;
    padding: 20px 15px;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 25px;
    cursor: pointer;
    outline: none;

    background-color: rgb(104, 0, 0);
    color: white;
    position: absolute; 
  
    margin-left: 860px;
    margin-top: 280px;
}